# Yenidən yazma qaydalarını aktivləşdir
RewriteEngine On
Options -Indexes

# PHP sabit ayarları
php_value display_errors Off
php_value mbstring.http_input auto
php_value date.timezone Asia/Baku

# Server imzasını gizlət
ServerSignature Off

# HTTPS məcburi yönləndirmə
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP:X-Forwarded-Proto} !https [NC]
RewriteCond %{HTTP:CF-Visitor} !"scheme\":\"https" [NC]
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Xəta səhifələri
ErrorDocument 400 https://www.info.rzayeffdi.tech/error
ErrorDocument 401 https://www.info.rzayeffdi.tech/error
ErrorDocument 403 https://www.info.rzayeffdi.tech/error
ErrorDocument 404 https://www.info.rzayeffdi.tech/error
ErrorDocument 500 https://www.info.rzayeffdi.tech/error
ErrorDocument 503 https://www.info.rzayeffdi.tech/error

# Uzantıları sil və yönləndir (.php və .html)
RewriteCond %{THE_REQUEST} \\s/([^.]+)\\.(php|html)[\\s?] [NC]
RewriteRule ^ %1 [R=301,L]

# Əslində uzantısız faylı göstər (.php və .html)
RewriteCond %{REQUEST_FILENAME}.php -f [OR]
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^/]+)/?$ $1.php [L]

# Həssas faylları qoru
<FilesMatch "(^robots\\.txt|^\\.htaccess|^\\.env|^upload\\.log|^\\.ini|^config\\.php)$">
    Require all denied
</FilesMatch>
